// Colors
$orange: #F7C334;
$dark: #2F2A2A;
$light: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
  }

body {
    background-color: $dark;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar {
        a{
            text-decoration: none;
            color: orange;
        }
    }
}